<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.ocha.tugasprogmob">
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CategoryRestaurantActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.ocha.tugasprogmob.MainMenuActivity" />
        </activity>
        <activity
            android:name=".RestaurantActivity"
            android:label="@string/title_activity_restaurant"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.ocha.tugasprogmob.MainMenuActivity" />
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FoodActivity"
            android:label="Food List"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.ocha.tugasprogmob.MainMenuActivity" />
        </activity>
        <activity
            android:name=".DetailFoodActivity"
            android:label="@string/title_activity_detail_food"
            android:parentActivityName=".FoodActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.ocha.tugasprogmob.FoodActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Category Food" />
    </application>

</manifest>